NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/finance_dashboard
JWT_SECRET=change_this_to_a_long_random_string_in_production
JWT_EXPIRES_IN=1d
CLIENT_ORIGIN=http://localhost:3000

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
